@media (min-width: 200px) {
  html {
    height: 100vh;
    overflow: hidden;
  }
  body {
    background-color: rgb(252, 63, 42);
    justify-content: center;
  }
  body .main .buttondiv {
    margin-top: -9.7vh;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 20vh;
  }
  body .main .buttondiv .songtitle {
    font-size: 25px;
    color: greenyellow;
    position: absolute;
    top: -10vh;
    width: 50vh;
    margin-left: 10vw;
  }
  body .main .buttondiv .buttons {
    position: relative;
    left: 25%;
    width: 50%;
    height: 10vh;
    border-top: 2px solid rgb(93, 78, 78);
  }
  body .main .buttondiv .buttons .b {
    display: inline-flex;
    position: absolute;
    bottom: 40%;
    width: 100%;
  }
  body .main .buttondiv .buttons .b .playback {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: none;
    margin-left: -25%;
    background: none;
    color: rgb(200, 200, 200);
  }
  body .main .buttondiv .buttons .b .playback:hover {
    background-color: rgba(200, 200, 200, 0.3);
    border: 0.1px solid rgba(0, 0, 0, 0.5);
    color: white;
  }
  body .main .buttondiv .buttons .b .pause {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: none;
    background: none;
    color: rgb(200, 200, 200);
    position: absolute;
    left: 40%;
  }
  body .main .buttondiv .buttons .b .pause:hover {
    color: white;
  }
  body .main .buttondiv .buttons .b .play {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: none;
    position: absolute;
    left: 15%;
    background: none;
    color: rgb(200, 200, 200);
  }
  body .main .buttondiv .buttons .b .play:hover {
    color: white;
  }
  body .main .buttondiv .buttons .b .refresh {
    margin-bottom: -50px;
    font-size: 50px;
    height: fit-content;
    position: absolute;
    right: -10%;
    color: rgb(200, 200, 200);
  }
  body .main .buttondiv .buttons .b .refresh:hover {
    color: red;
    cursor: pointer;
  }
  body .main .buttondiv .buttons .b .mute {
    visibility: visible;
  }
  body img {
    width: 50vh;
    height: 50vh;
    display: block;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
  }
  body p {
    margin-top: 21vh;
    margin-bottom: 21vh;
    font-size: 40px;
    text-align: center;
    animation: 3s embedding forwards;
    margin-top: -0.5%;
  }
  body p:hover {
    cursor: default;
  }
  @keyframes colors {
    100% {
      color: black;
    }
  }
}
@media (min-width: 840px) {
  html {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: linear-gradient(197deg, rgba(255, 0, 0, 0.6), rgba(0, 59, 255, 0.5) 70.71%), linear-gradient(127deg, rgba(0, 255, 0, 0.3), rgb(255, 0, 166) 70.71%), linear-gradient(336deg, orange, red 70.71%);
  }
  body {
    height: 0vh;
    background-color: hidden;
    color: white;
    justify-content: center;
  }
  body .main .buttondiv {
    margin-top: -9.7vh;
    background-color: black;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 20vh;
  }
  body .main .buttondiv .songtitle {
    font-size: 40px;
    color: greenyellow;
    position: absolute;
    top: 0;
    right: 25%;
    z-index: 5;
    width: 50%;
  }
  body .main .buttondiv .buttons {
    position: relative;
    left: 25%;
    width: 50%;
    height: 10vh;
    padding-top: 5vh;
    background: gray;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  body .main .buttondiv .buttons .b {
    display: inline-flex;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  body .main .buttondiv .buttons .b .playback {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: none;
    position: relative;
    left: 28%;
    background: none;
    color: white;
  }
  body .main .buttondiv .buttons .b .playback:hover {
    background-color: rgba(200, 200, 200, 0.3);
    border: 0.1px solid rgba(0, 0, 0, 0.5);
  }
  body .main .buttondiv .buttons .b .pause {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: none;
    background: none;
    color: white;
    position: absolute;
    left: 53%;
  }
  body .main .buttondiv .buttons .b .pause:hover {
    background-color: rgba(200, 200, 200, 0.3);
    border: 0.1px solid rgba(0, 0, 0, 0.5);
  }
  body .main .buttondiv .buttons .b .play {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: none;
    position: absolute;
    left: 37%;
    background: none;
    color: white;
  }
  body .main .buttondiv .buttons .b .play:hover {
    background-color: rgba(200, 200, 200, 0.3);
    border: 0.1px solid rgba(0, 0, 0, 0.5);
  }
  body .main .buttondiv .buttons .b .refresh {
    margin-bottom: -50px;
    font-size: 50px;
    height: fit-content;
    margin-right: 57%;
  }
  body .main .buttondiv .buttons .b .refresh:hover {
    color: red;
    cursor: pointer;
    animation: 5000s rotate;
  }
  body .main .buttondiv .buttons .b .mute {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: none;
    position: absolute;
    right: 0;
    margin-right: 3%;
    background: none;
    color: white;
    visibility: visible;
  }
  body .main .buttondiv .buttons .b .mute:hover {
    background-color: rgba(200, 200, 200, 0.3);
    border: 0.1px solid rgba(0, 0, 0, 0.5);
    color: black;
  }
  body img {
    height: 80vh;
    width: 50vw;
    position: absolute;
    top: 0;
    margin-bottom: 0;
    margin-left: 24.4%;
    padding: 0;
  }
  body p {
    margin-top: 21vh;
    margin-bottom: 21vh;
    font-size: 40px;
    text-align: center;
    animation: 3s embedding forwards;
    margin-top: -0.5%;
  }
  body p:hover {
    cursor: default;
  }
  @keyframes rotate {
    100% {
      rotate: 1800000deg;
    }
  }
  @keyframes colors {
    100% {
      color: black;
    }
  }
}/*# sourceMappingURL=songpages.css.map */