@media (min-width: 200px) {
   html {
      height: 100vh;
      overflow: hidden;
   }

   body {
      background-color: rgb(252, 63, 42);
      justify-content: center;
      // .border {
      //    width: 10px;
      //    background: black;
      //    z-index: 500;
      // }
      // .container {
      //    display: inline-flex;
      //    margin-left: 10vw;
      //    margin-top: 10vh;
      //    height: 80vh;
      //    width: 80vw;
      //    background-color: white;
      //    justify-content: center;
      //    .border {
      //       width: 10px;
      //       background: black;
      //    }
      //    button {
      //       width: 100px;
      //       height: 30px;
      //       border-radius: 25px;
      //       margin-top: 65vh;
      //       margin-right: 2.5%;
      //       margin-left: 2.5%;
      //       border: 2px solid black;
      //    }
      // }
      .main {
         .buttondiv {
            margin-top: -9.7vh;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            height: 20vh;
            .songtitle {
               font-size: 25px;
               color: greenyellow;
               position: absolute;
               top: -10vh;
               width: 50vh;
               margin-left: 10vw;
            }
            .buttons {
               position: relative;
               left: 25%;
               width: 50%;
               height: 10vh;
               border-top: 2px solid rgb(93, 78, 78);

               .b {
                  display: inline-flex;
                  position: absolute;
                  bottom: 40%;
                  width: 100%;
                  .playback {
                     height: 50px;
                     width: 50px;
                     border-radius: 100%;
                     border: none;
                     margin-left: -25%;
                     background: none;
                     color: rgb(200, 200, 200);
                     &:hover {
                        background-color: rgba(200, 200, 200, 0.3);
                        border: 0.1px solid rgba(0, 0, 0, 0.5);
                        color: white;
                     }
                  }
                  .pause {
                     height: 50px;
                     width: 50px;
                     border-radius: 100%;
                     border: none;
                     background: none;
                     color: rgb(200, 200, 200);
                     position: absolute;
                     left: 40%;
                     &:hover {
                        color: white;
                     }
                  }

                  .play {
                     height: 50px;
                     width: 50px;
                     border-radius: 100%;
                     border: none;
                     position: absolute;
                     left: 15%;
                     background: none;
                     color: rgb(200, 200, 200);
                     &:hover {
                        color: white;
                     }
                  }

                  .refresh {
                     margin-bottom: -50px;
                     font-size: 50px;
                     height: fit-content;
                     position: absolute;
                     right: -10%;
                     color: rgb(200, 200, 200);
                  }
                  .refresh:hover {
                     color: red;
                     cursor: pointer;
                  }
                  .mute {
                     visibility: visible;
                  }
               }
            }
         }
      }
      img {
         width: 50vh;
         height: 50vh;
         display: block;
         margin-top: 5vh;
         margin-left: auto;
         margin-right: auto;
      }

      p {
         margin-top: 21vh;
         margin-bottom: 21vh;
         font-size: 40px;
         text-align: center;
         animation: 3s embedding forwards;
         margin-top: -0.5%;
      }
      p:hover {
         cursor: default;
      }

      // .word{
      //    margin-top: -5%;
      //    padding-bottom: 2.5%;
      // }
   }

   // @keyframes embedding {
   //    100% {
   //       color: rgba(0, 0, 0, 0.4);
   //       text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
   //    }
   // }

   @keyframes colors {
      100% {
         color: black;
      }
   }
}

@media (min-width: 840px) {
   html {
      height: 100vh;
      width: 100vw;
      overflow: hidden;
      background: linear-gradient(197deg, rgba(255,0,0,.6), rgba(0,59,255, .5) 70.71%),
      linear-gradient(127deg, rgba(0,255,0,.3), rgb(255, 0, 166) 70.71%),
      linear-gradient(336deg, orange, red 70.71%);
      // &:hover {
      //    animation: 20s colorchange forwards;
      // }
   }

   body {
      height: 0vh;
      background-color: hidden;
      color: white;
      justify-content: center;

      // .border {
      //    width: 10px;
      //    background: black;
      //    z-index: 500;
      // }
      // .container {
      //    display: inline-flex;
      //    margin-left: 10vw;
      //    margin-top: 10vh;
      //    height: 80vh;
      //    width: 80vw;
      //    background-color: white;
      //    justify-content: center;
      //    .border {
      //       width: 10px;
      //       background: black;
      //    }
      //    button {
      //       width: 100px;
      //       height: 30px;
      //       border-radius: 25px;
      //       margin-top: 65vh;
      //       margin-right: 2.5%;
      //       margin-left: 2.5%;
      //       border: 2px solid black;
      //    }
      // }
      .main {
         .buttondiv {
            margin-top: -9.7vh;
            background-color: black;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            height: 20vh;
            .songtitle {
               font-size: 40px;
               color: greenyellow;
               position: absolute;
               top: 0;
               right: 25%;
               z-index: 5;
               width: 50%;
            }
            .buttons {
               position: relative;
               left: 25%;
               width: 50%;
               height: 10vh;
               padding-top: 5vh;
               background: gray;
               border-bottom-left-radius: 50px;
               border-bottom-right-radius: 50px;
               .b {
                  display: inline-flex;
                  position: absolute;
                  bottom: 0;
                  width: 100%;
                  .playback {
                     height: 50px;
                     width: 50px;
                     border-radius: 100%;
                     border: none;
                     position: relative;
                     left: 28%;
                     background: none;
                     color: white;
                     &:hover {
                        background-color: rgba(200, 200, 200, 0.3);
                        border: 0.1px solid rgba(0, 0, 0, 0.5);
                     }
                  }
                  .pause {
                     height: 50px;
                     width: 50px;
                     border-radius: 100%;
                     border: none;
                     background: none;
                     color: white;
                     position: absolute;
                     left: 53%;
                     &:hover {
                        background-color: rgba(200, 200, 200, 0.3);
                        border: 0.1px solid rgba(0, 0, 0, 0.5);
                     }
                  }

                  .play {
                     height: 50px;
                     width: 50px;
                     border-radius: 100%;
                     border: none;
                     position: absolute;
                     left: 37%;
                     background: none;
                     color: white;
                     &:hover {
                        background-color: rgba(200, 200, 200, 0.3);
                        border: 0.1px solid rgba(0, 0, 0, 0.5);
                     }
                  }

                  .refresh {
                     margin-bottom: -50px;
                     font-size: 50px;
                     height: fit-content;
                     margin-right: 57%;
                  }
                  .refresh:hover {
                     color: red;
                     cursor: pointer;
                     animation: 5000s rotate;
                  }
                  .mute {
                     height: 50px;
                     width: 50px;
                     border-radius: 100%;
                     border: none;
                     position: absolute;
                     right: 0;
                     margin-right: 3%;
                     background: none;
                     color: white;
                     visibility: visible;
                     &:hover {
                        background-color: rgba(200, 200, 200, 0.3);
                        border: 0.1px solid rgba(0, 0, 0, 0.5);
                        color: black;                     }
                  }
               }
            }
         }
      }
      img {
         height: 80vh;
         width: 50vw;
         position: absolute;
         top: 0;
         margin-bottom: 0;
         margin-left: 24.4%;
         padding: 0;
      }

      p {
         margin-top: 21vh;
         margin-bottom: 21vh;
         font-size: 40px;
         text-align: center;
         animation: 3s embedding forwards;
         margin-top: -0.5%;
      }
      p:hover {
         cursor: default;
      }

      // .word{
      //    margin-top: -5%;
      //    padding-bottom: 2.5%;
      // }
   }

   @keyframes rotate {
      100% {
         rotate: 1800000deg;
      }
   }

   // @keyframes embedding {
   //    100% {
   //       color: rgba(0, 0, 0, 0.4);
   //       text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
   //    }
   // }

   @keyframes colors {
      100% {
         color: black;
      }
   }

   // @keyframes colorchange {
   //    100% {
   //       background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
   //       linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
   //       linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
   //    }
   //    80% {
   //       background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
   //       linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
   //       linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
   //    }
   //    60% {
   //       background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
   //       linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
   //       linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
   //    }
   //    40% {
   //       background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
   //       linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
   //       linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
   //    }
   //    20% {
   //       background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
   //       linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
   //       linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
   //    }
   //    0% {
   //       background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(0,0,255, .8) 70.71%),
   //       linear-gradient(127deg, rgba(0,255,0,.8), violet 70.71%),
   //       linear-gradient(336deg, orange, red 70.71%);
   //    }
   // }
}
